<!DOCTYPE html>
<html lang="en" ng-app="sample">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app.js"></script>

    <style>
        .box{
            width: 100px;
            height: 100px;
        }
        .red{background: red;}
        .blue{background: blue;}
        .green{background: green;}
        .black{background: black;}

    </style>

</head>
<body class="container" ng-controller="mainCtrl">
    <input type="radio" ng-model="color" value="red">빨강 <br>
    <input type="radio" ng-model="color" value="blue">파랑 <br>
    <input type="radio" ng-model="color" value="green">녹색 <br>

    <div ng-switch="color">
        <div ng-switch-when="red" class="box red"></div>
        <div ng-switch-when="blue" class="box blue"></div>
        <div ng-switch-when="green" class="box green"></div>
        <div ng-switch-default class="box black"></div>
    </div>
</body>
</html>